<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>DelphiRestDemo</string>
	<key>CFBundleDisplayName</key>
	<string>DelphiRestDemo</string>
	<key>CFBundleIdentifier</key>
	<string>DelphiRestDemo</string>
	<key>CFBundleVersion</key>
	<string>1.0.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>YES</string>
	<key>CFBundleExecutable</key>
	<string>DelphiRestDemo</string>
	<key>CFBundleIconFile</key>
	<string>DelphiRestDemo.icns</string>
</dict>
</plist>
